<div class="pricing-container">
  <div class="header">
    <h2 class="title">Pricing Plans</h2>
    <p class="subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos.</p>
  </div>

  <div class="plans">

    <div class="plan-card">
      <div class="plan-header">
        <h4>Free</h4>
        <p>All NuGet packages.</p>
      </div>

      <hr />

      <div class="plan-price">
        <span class="price">$59</span>
        <span class="period">per month</span>
      </div>

      <hr />

      <ul class="features-list">
        <li><span class="check-icon">✔</span><span>Arcu vitae elementum</span></li>
        <li><span class="check-icon">✔</span><span>Dui faucibus in ornare</span></li>
        <li><span class="check-icon">✔</span><span>Morbi tincidunt augue</span></li>
        <li><span class="check-icon">✔</span><span>Duis ultricies lacus sed</span></li>
      </ul>

      <p-button label="Get Started" [fluid]="true" size="large"></p-button>
    </div>

    <div class="plan-card">
      <div class="plan-header">
        <h4>Premium</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos.</p>
      </div>

      <hr />

      <div class="plan-price">
        <span class="price">$59</span>
        <span class="period">per month</span>
      </div>

      <hr />

      <ul class="features-list">
        <li><span class="check-icon">✔</span><span>Arcu vitae elementum</span></li>
        <li><span class="check-icon">✔</span><span>Dui faucibus in ornare</span></li>
        <li><span class="check-icon">✔</span><span>Morbi tincidunt augue</span></li>
        <li><span class="check-icon">✔</span><span>Duis ultricies lacus sed</span></li>
      </ul>

      <p-button label="Get Started" [fluid]="true" size="large"></p-button>
    </div>

  </div>
</div>
